body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
footer{
    font-size: 1.5rem;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza as seções horizontalmente */
    padding: 20px;  
}

section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 0.8rem;
    width: 60%; /* Define uma largura para a seção */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Adiciona margem automática para centralizar */
    font-size: 1.5rem;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: center;
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f0f0f0;
}

section input {
    width: 95%;
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Garante que o padding não aumenta o tamanho total do elemento */
}

section button {
    display: block;
    margin: 10px auto; /* Centraliza o botão horizontalmente */
}

button {
    padding: 10px 15px;
    background-color: #5cb85c;
    color: white;
    border: 0.1rem;
    cursor: pointer;
}